*{
    padding: 0px;
    margin: 0px;
    font-family: 'Cutive Mono', monospace;
}

/* colors */
:root {
    --primary-red: #F71735;
    --primary-white: #FDFDFF;
    --primary-grey: #393D3F;
    --secondary-grey: #F4F1BB;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.container {
    height: 100svh;
    display: grid;
    grid-template: 1fr 6fr / 1fr 6fr;
}

.header {
    padding: 2rem;
    background-color: var(--primary-red);
    color: white;
    grid-column: 2/-1;
    display: flex;
    justify-content: space-between;
    font-weight: 800;
}
.material-symbols-outlined:hover {
    cursor: pointer;
    font-variation-settings: 'FILL' 1;
}

.username {
    cursor: pointer;
}

.user-container,
.search-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

input[type=search] {
    width: 30vw;
    height: 1.2rem;
    border-radius: .5rem;
    background-color: var(--secondary-grey);
    border-style: none;
}

.sidebar {
    background-color: var(--primary-grey);
    color: var(--secondary-grey);
    grid-row: 1/-1;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem;
    
}

.logo-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    cursor: pointer;
}

.logo-container:hover span {
    font-variation-settings: 'FILL' 1;
}

#logo {
    font-size: 48px;
}

.logo-text {
    font-size: 24px;
}

.sidebar-main,
.sidebar-secondary {
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    gap: 1rem;
    align-items: center;
    
}

.sidebar-item {
    display: flex;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
}

.sidebar-item:hover {
    border-bottom: 2px solid white;
    margin-bottom: -2px;
    font-weight: 800;
}

.sidebar-item:hover span {
    font-variation-settings: 'FILL' 1;
}

.content-container {
    background-color: var(--primary-white);

    display: grid;
    grid-template: 3fr 2fr / 4fr 1fr;
}

.buttons > button{
    background-color: var(--primary-red);
    border: none;
    padding: .8rem;
    width: 6rem;
    border-radius: 1rem;
    color: var(--primary-white);
    font-weight: 800;
    cursor: pointer;
    transition: .5s ease;
}

.buttons > button:hover {
    background-color: var(--primary-white);
    color: var(--primary-red);
}

.projects-container,
.announcement-container,
.stat-container {
    padding: 1rem;
}

.projects-container {
    background-color: var(--secondary-grey);
    grid-row: 1/-1;
}
.projects-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    font-weight: 800;
    color: var(--primary-grey);
}

.cards {
    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
}

.card {
    height: 150px;
    background-color: var(--primary-white);
    border-radius: 8px;
    border-left: 7px solid var(--primary-red);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-text {
    margin: .5rem;
}

.card-title {
    font-weight: 800;
}

.card-content {
    color: var(--primary-grey);
}

.card-icons {
    align-self: flex-end;
    color: var(--primary-grey);
}

.announcement-container {
    background-color: var(--secondary-grey); 
    display: flex;
    flex-direction: column;
    
}

.announcements {
    background-color: var(--primary-white);
    height: 100%;
    margin-top: 1rem;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.announcement {
    margin: 1rem;
    border-bottom: 2px solid var(--secondary-grey);
    flex: 1 1 auto;
}

.stat-container {
    background-color: var(--secondary-grey); 
    display: flex;
    flex-direction: column;
}

.stats {
    background-color: var(--primary-white);
    height: 100%;
    margin-top: 1rem;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.stat {
    margin: 1rem;
    border-bottom: 2px solid var(--secondary-grey);
    flex: 1 1 auto;
}